In [ ]:
import pandas as pd

In [ ]:
cus=pd.read_csv("/content/cus_file.csv")
sal=pd.read_csv("/content/sale.csv")
exc=pd.read_csv("/content/Excl.csv")
prod=pd.read_csv("/content/product.csv")
st=pd.read_csv("/content/store.csv")

#FETCHING ONLY ONLINE DATA:

In [ ]:
sal['Delivery Date'] = pd.to_datetime(sal['Delivery Date'], format='mixed',dayfirst=True)
sal['Order Date'] = pd.to_datetime(sal['Order Date'], format='mixed',dayfirst=True)

In [ ]:
sal.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-12-01,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-12-01,266019,0,373,1,CAD

In [ ]:
#Fetch only storekey =0 refers to online
sal = sal[sal["StoreKey"]==0]

In [ ]:
sal.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-12-01,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-12-01,266019,0,373,1,CAD
5,366002,3,2016-01-01,2016-12-01,266019,0,1080,4,CAD

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13165 entries, 1 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   13165 non-null  int64
 1   Line Item      13165 non-null  int64
 2   Order Date     13165 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    13165 non-null  int64
 5   StoreKey       13165 non-null  int64
 6   ProductKey     13165 non-null  int64
 7   Quantity       13165 non-null  int64
 8   Currency Code  13165 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 1.0+ MB

In [ ]:
st['Open Date'] = pd.to_datetime(st['Open Date'], format='mixed',dayfirst=True)

In [ ]:
#joining sales with store
sal=pd.merge(sal,st,on="StoreKey",how="inner")

In [ ]:
sal.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Country,State,Square Meters,Open Date
0,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,Online,Online,NaN,2010-01-01
1,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Online,Online,NaN,2010-01-01
2,366002,1,2016-01-01,2016-12-01,266019,0,1106,7,CAD,Online,Online,NaN,2010-01-01
3,366002,2,2016-01-01,2016-12-01,266019,0,373,1,CAD,Online,Online,NaN,2010-01-01
4,366002,3,2016-01-01,2016-12-01,266019,0,1080,4,CAD,Online,Online,NaN,2010-01-01

In [ ]:
sal.shape

(13165, 13)

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   13165 non-null  int64
 1   Line Item      13165 non-null  int64
 2   Order Date     13165 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    13165 non-null  int64
 5   StoreKey       13165 non-null  int64
 6   ProductKey     13165 non-null  int64
 7   Quantity       13165 non-null  int64
 8   Currency Code  13165 non-null  object
 9   Country        13165 non-null  object
 10  State          13165 non-null  object
 11  Square Meters  0 non-null      float64
 12  Open Date      13165 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(6), object(3)
memory usage: 1.3+ MB

In [ ]:
cus.head()

,CustomerKey,Gender,Name,City,State_Code,State,Zip_Code,Country,Continent,Birthday,Year,Month,Age
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,1939-03-07,1939,March,85
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27,1979,September,45
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,1947-05-26,1947,May,77
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,1957-09-17,1957,September,67
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,1965-11-19,1965,November,59

In [ ]:
cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State_Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip_Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
 10  Year         15266 non-null  int64
 11  Month        15266 non-null  object
 12  Age          15266 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 1.5+ MB

In [ ]:
cus['Birthday'] = pd.to_datetime(cus['Birthday'], format='mixed',dayfirst=True)

In [ ]:
#joining with customer
sal=pd.merge(sal,cus,on="CustomerKey",how="inner")

In [ ]:
sal.shape

(13165, 25)

In [ ]:
sal.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Country_x,...,City,State_Code,State_y,Zip_Code,Country_y,Continent,Birthday,Year,Month,Age
0,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,Online,...,Auberry,CA,California,93602,United States,North America,1995-11-20,1995,November,29
1,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Online,...,Auberry,CA,California,93602,United States,North America,1995-11-20,1995,November,29
2,366002,1,2016-01-01,2016-12-01,266019,0,1106,7,CAD,Online,...,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,1962,August,62
3,366002,2,2016-01-01,2016-12-01,266019,0,373,1,CAD,Online,...,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,1962,August,62
4,366002,3,2016-01-01,2016-12-01,266019,0,1080,4,CAD,Online,...,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,1962,August,62

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   13165 non-null  int64
 1   Line Item      13165 non-null  int64
 2   Order Date     13165 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    13165 non-null  int64
 5   StoreKey       13165 non-null  int64
 6   ProductKey     13165 non-null  int64
 7   Quantity       13165 non-null  int64
 8   Currency Code  13165 non-null  object
 9   Country_x      13165 non-null  object
 10  State_x        13165 non-null  object
 11  Square Meters  0 non-null      float64
 12  Open Date      13165 non-null  datetime64[ns]
 13  Gender         13165 non-null  object
 14  Name           13165 non-null  object
 15  City           13165 non-null  object
 16  State_Code     13163 non-null  object
 17  State_y        13165 non-null  object
 18  Zip_Code       13165 non-null  object
 19  Country_y      13165 non-null  object
 20  Continent      13165 non-null  object
 21  Birthday       13165 non-null  datetime64[ns]
 22  Year           13165 non-null  int64
 23  Month          13165 non-null  object
 24  Age            13165 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(8), object(12)
memory usage: 2.5+ MB

In [ ]:
prod.head()

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio

In [ ]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [ ]:
#joining with product
sal=pd.merge(sal,prod,on="ProductKey",how="inner")

In [ ]:
sal.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Country_x,...,Age,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,Online,...,29,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders
1,1352012,1,2018-09-13,2018-09-17,210267,0,1048,7,CAD,Online,...,81,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders
2,1436028,1,2018-06-12,2018-10-12,584186,0,1048,7,EUR,Online,...,44,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders
3,1765034,2,2019-10-31,2019-04-11,1407493,0,1048,4,USD,Online,...,51,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders
4,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Online,...,29,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,220.64,665.94,803,Microwaves,8,Home Appliances

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    13165 non-null  int64
 1   Line Item       13165 non-null  int64
 2   Order Date      13165 non-null  datetime64[ns]
 3   Delivery Date   13165 non-null  datetime64[ns]
 4   CustomerKey     13165 non-null  int64
 5   StoreKey        13165 non-null  int64
 6   ProductKey      13165 non-null  int64
 7   Quantity        13165 non-null  int64
 8   Currency Code   13165 non-null  object
 9   Country_x       13165 non-null  object
 10  State_x         13165 non-null  object
 11  Square Meters   0 non-null      float64
 12  Open Date       13165 non-null  datetime64[ns]
 13  Gender          13165 non-null  object
 14  Name            13165 non-null  object
 15  City            13165 non-null  object
 16  State_Code      13163 non-null  object
 17  State_y         13165 non-null  object
 18  Zip_Code        13165 non-null  object
 19  Country_y       13165 non-null  object
 20  Continent       13165 non-null  object
 21  Birthday        13165 non-null  datetime64[ns]
 22  Year            13165 non-null  int64
 23  Month           13165 non-null  object
 24  Age             13165 non-null  int64
 25  Product Name    13165 non-null  object
 26  Brand           13165 non-null  object
 27  Color           13165 non-null  object
 28  Unit Cost USD   13165 non-null  float64
 29  Unit Price USD  13165 non-null  float64
 30  SubcategoryKey  13165 non-null  int64
 31  Subcategory     13165 non-null  object
 32  CategoryKey     13165 non-null  int64
 33  Category        13165 non-null  object
dtypes: datetime64[ns](4), float64(3), int64(10), object(17)
memory usage: 3.4+ MB

In [ ]:
sal.rename(columns={'Currency Code': 'Currency_Code'}, inplace=True)

In [ ]:
import pandas as pd

# Sample DataFrame (replace this with your DataFrame)
# df = pd.read_csv('your_table.csv')

# Count the number of int, float, and datetime columns
int_columns = sal.select_dtypes(include=['int']).shape[1]
float_columns = sal.select_dtypes(include=['float']).shape[1]
datetime_columns = sal.select_dtypes(include=['datetime']).shape[1]
object_columns = sal.select_dtypes(include=['object']).shape[1]

# Display the counts
print(f"Number of integer columns: {int_columns}")
print(f"Number of float columns: {float_columns}")
print(f"Number of datetime columns: {datetime_columns}")
print(f"Number of object (string) columns: {object_columns}")

Number of integer columns: 10
Number of float columns: 3
Number of datetime columns: 4
Number of object (string) columns: 17

In [ ]:
sal.to_csv("online1.csv", index=False)

In [ ]:
import pandas as pd

online=pd.read_csv("/content/online1.csv",parse_dates=['Order Date', 'Delivery Date','Open Date','Birthday'])

In [ ]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    13165 non-null  int64
 1   Line Item       13165 non-null  int64
 2   Order Date      13165 non-null  datetime64[ns]
 3   Delivery Date   13165 non-null  datetime64[ns]
 4   CustomerKey     13165 non-null  int64
 5   StoreKey        13165 non-null  int64
 6   ProductKey      13165 non-null  int64
 7   Quantity        13165 non-null  int64
 8   Currency_Code   13165 non-null  object
 9   Country_x       13165 non-null  object
 10  State_x         13165 non-null  object
 11  Square Meters   0 non-null      float64
 12  Open Date       13165 non-null  datetime64[ns]
 13  Gender          13165 non-null  object
 14  Name            13165 non-null  object
 15  City            13165 non-null  object
 16  State_Code      13163 non-null  object
 17  State_y         13165 non-null  object
 18  Zip_Code        13165 non-null  object
 19  Country_y       13165 non-null  object
 20  Continent       13165 non-null  object
 21  Birthday        13165 non-null  datetime64[ns]
 22  Year            13165 non-null  int64
 23  Month           13165 non-null  object
 24  Age             13165 non-null  int64
 25  Product Name    13165 non-null  object
 26  Brand           13165 non-null  object
 27  Color           13165 non-null  object
 28  Unit Cost USD   13165 non-null  float64
 29  Unit Price USD  13165 non-null  float64
 30  SubcategoryKey  13165 non-null  int64
 31  Subcategory     13165 non-null  object
 32  CategoryKey     13165 non-null  int64
 33  Category        13165 non-null  object
dtypes: datetime64[ns](4), float64(3), int64(10), object(17)
memory usage: 3.4+ MB

In [ ]:
# Sample DataFrame (replace this with your DataFrame)
# df = pd.read_csv('your_table.csv')

# Count the number of int, float, and datetime columns
int_columns = online.select_dtypes(include=['int']).shape[1]
float_columns = online.select_dtypes(include=['float']).shape[1]
datetime_columns = online.select_dtypes(include=['datetime']).shape[1]
object_columns = online.select_dtypes(include=['object']).shape[1]

# Display the counts
print(f"Number of integer columns: {int_columns}")
print(f"Number of float columns: {float_columns}")
print(f"Number of datetime columns: {datetime_columns}")
print(f"Number of object (string) columns: {object_columns}")

Number of integer columns: 10
Number of float columns: 3
Number of datetime columns: 4
Number of object (string) columns: 17

In [ ]:
# Downcast integer columns
online['Order Number'] = pd.to_numeric(online['Order Number'], downcast='integer')
online['Line Item'] = pd.to_numeric(online['Line Item'], downcast='integer')
online['CustomerKey'] = pd.to_numeric(online['CustomerKey'], downcast='integer')
online['StoreKey'] = pd.to_numeric(online['StoreKey'], downcast='integer')
online['ProductKey'] = pd.to_numeric(online['ProductKey'], downcast='integer')
online['Quantity'] = pd.to_numeric(online['Quantity'], downcast='integer')
online['Year'] = pd.to_numeric(online['Year'], downcast='integer')
online['Age'] = pd.to_numeric(online['Age'], downcast='integer')
online['SubcategoryKey'] = pd.to_numeric(online['SubcategoryKey'], downcast='integer')
online['CategoryKey'] = pd.to_numeric(online['CategoryKey'], downcast='integer')

# Downcast float columns
online['Unit Cost USD'] = pd.to_numeric(online['Unit Cost USD'], downcast='float')
online['Unit Price USD'] = pd.to_numeric(online['Unit Price USD'], downcast='float')

# Verify memory reduction
print(online.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    13165 non-null  int32
 1   Line Item       13165 non-null  int8
 2   Order Date      13165 non-null  object
 3   Delivery Date   13165 non-null  object
 4   CustomerKey     13165 non-null  int32
 5   StoreKey        13165 non-null  int8
 6   ProductKey      13165 non-null  int16
 7   Quantity        13165 non-null  int8
 8   Currency_Code   13165 non-null  object
 9   Country_x       13165 non-null  object
 10  State_x         13165 non-null  object
 11  Square Meters   0 non-null      float64
 12  Open Date       13165 non-null  object
 13  Gender          13165 non-null  object
 14  Name            13165 non-null  object
 15  City            13165 non-null  object
 16  State_Code      13163 non-null  object
 17  State_y         13165 non-null  object
 18  Zip_Code        13165 non-null  object
 19  Country_y       13165 non-null  object
 20  Continent       13165 non-null  object
 21  Birthday        13165 non-null  object
 22  Year            13165 non-null  int16
 23  Month           13165 non-null  object
 24  Age             13165 non-null  int8
 25  Product Name    13165 non-null  object
 26  Brand           13165 non-null  object
 27  Color           13165 non-null  object
 28  Unit Cost USD   13165 non-null  float32
 29  Unit Price USD  13165 non-null  float32
 30  SubcategoryKey  13165 non-null  int16
 31  Subcategory     13165 non-null  object
 32  CategoryKey     13165 non-null  int8
 33  Category        13165 non-null  object
dtypes: float32(2), float64(1), int16(3), int32(2), int8(5), object(21)
memory usage: 18.2 MB
None

In [ ]:
#TO drop unwanted data --not yet done
online.drop(["Square Meters","Country_x","State_x"],axis=1,inplace=True)

In [ ]:
online["Open Date"].unique()

<DatetimeArray>
['2010-01-01 00:00:00']
Length: 1, dtype: datetime64[ns]

In [ ]:
# Are there reviews in the past?
online[online['Order Date'] < online['Open Date']]

Empty DataFrame
Columns: [Order Number, Line Item, Order Date, Delivery Date, CustomerKey, StoreKey, ProductKey, Quantity, Currency_Code, Country_x, State_x, Square Meters, Open Date, Gender, Name, City, State_Code, State_y, Zip_Code, Country_y, Continent, Birthday, Year, Month, Age, Product Name, Brand, Color, Unit Cost USD, Unit Price USD, SubcategoryKey, Subcategory, CategoryKey, Category]
Index: []

[0 rows x 34 columns]

In [ ]:
# Are there reviews in the past?
online[online['Delivery Date'] < online['Open Date']]

Empty DataFrame
Columns: [Order Number, Line Item, Order Date, Delivery Date, CustomerKey, StoreKey, ProductKey, Quantity, Currency_Code, Country_x, State_x, Square Meters, Open Date, Gender, Name, City, State_Code, State_y, Zip_Code, Country_y, Continent, Birthday, Year, Month, Age, Product Name, Brand, Color, Unit Cost USD, Unit Price USD, SubcategoryKey, Subcategory, CategoryKey, Category]
Index: []

[0 rows x 34 columns]

In [ ]:
online["Currency_Code"].unique()

array(['USD', 'CAD', 'EUR', 'GBP', 'AUD'], dtype=object)

In [53]:
import pandas as pd
exc=pd.read_csv("/content/exchange.csv",parse_dates=['Exc_Date'])
online=pd.read_csv("/content/online1.csv",parse_dates=['Order_Date', 'Delivery_Date','Open_Date','Birthday'])

In [ ]:
# In Pandas: Ensure 'Exc_Date' is in the correct format
# Convert to datetime, handling potential errors
online[['Order Date','Delivery Date','Open Date','Birthday']] = online[['Order Date','Delivery Date','Open Date','Birthday']].apply(pd.to_datetime, errors='coerce')

# Format the datetime columns (if no errors occured)
online[['Order Date','Delivery Date','Open Date','Birthday']] = online[['Order Date','Delivery Date','Open Date','Birthday']].apply(lambda x: x.dt.strftime('%Y-%m-%d %H:%M:%S') if pd.notnull(x).all() else x)

# Save the DataFrame to CSV
online.to_csv('online.csv', index=False)

In [ ]:
online.dtypes

Order Number        int64
Line Item           int64
Order Date         object
Delivery Date      object
CustomerKey         int64
StoreKey            int64
ProductKey          int64
Quantity            int64
Currency_Code      object
Country_x          object
State_x            object
Square Meters     float64
Open Date          object
Gender             object
Name               object
City               object
State_Code         object
State_y            object
Zip_Code           object
Country_y          object
Continent          object
Birthday           object
Year                int64
Month              object
Age                 int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [ ]:
exc["Currency_Code"].unique()

array(['USD', 'CAD', 'AUD', 'EUR', 'GBP'], dtype=object)

In [ ]:
exc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exc_Date       11215 non-null  object
 1   Currency_Code  11215 non-null  object
 2   Exchange_Rate  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [ ]:
# In Pandas: Ensure 'Exc_Date' is in the correct format
exc['Exc_Date'] = pd.to_datetime(exc['Exc_Date']).dt.strftime('%Y-%m-%d %H:%M:%S')

# Save the DataFrame to CSV
exc.to_csv('exchange.csv', index=False)

In [ ]:
import sqlite3

# Create SQLite connection and cursor
conn = sqlite3.connect('your_database.db')
online.to_sql('online', conn, if_exists='replace', index=False)
exc.to_sql('exc', conn, if_exists='replace', index=False)

# Perform SQL operation in SQLite
query = """
UPDATE online
SET
    Exchange_Rate = (
        SELECT exc.Exchange_Rate
        FROM exc
        WHERE exc.Currency_Code = online.Currency_Code
    ),
    Exc_Date = (
        SELECT exc.Exc_Date
        FROM exc
        WHERE exc.Currency_Code = online.Currency_Code
    )
WHERE online.Currency_Code in ('USD', 'CAD', 'AUD', 'EUR', 'GBP');
"""
conn.execute(query)
conn.commit()

# Read back the updated table
updated_online1 = pd.read_sql('SELECT * FROM online', conn)
conn.close()

OperationalError: no such column: Exchange_Rate

In [22]:
online[["State_y","State_Code"]][online["State_Code"].isnull()]

Empty DataFrame
Columns: [State_y, State_Code]
Index: []

In [5]:
online.rename(columns={'Order Date': 'Order_Date','Delivery Date':'Delivery_Date','Square Meters':'Square_Meters','Open Date':'Open_Date','Product Name':'Product_Name','Unit Cost USD':'Unit_Cost_USD','Unit Price USD':'Unit_Price_USD'}, inplace=True)

In [59]:
online.to_csv("online1.csv", index=False)

In [58]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_Number    13165 non-null  int64
 1   Line_Item       13165 non-null  int64
 2   Order_Date      13165 non-null  datetime64[ns]
 3   Delivery_Date   13165 non-null  datetime64[ns]
 4   CustomerKey     13165 non-null  int64
 5   ProductKey      13165 non-null  int64
 6   Quantity        13165 non-null  int64
 7   Currency_Code   13165 non-null  object
 8   Open_Date       13165 non-null  datetime64[ns]
 9   Gender          13165 non-null  object
 10  First_name      13165 non-null  object
 11  Last_name       13165 non-null  object
 12  City            13165 non-null  object
 13  State_Code      13163 non-null  object
 14  State           13165 non-null  object
 15  Zip_Code        13165 non-null  object
 16  Country         13165 non-null  object
 17  Continent       13165 non-null  object
 18  Birthday        13165 non-null  datetime64[ns]
 19  Year            13165 non-null  int64
 20  Month           13165 non-null  object
 21  Age             13165 non-null  int64
 22  Product_Name    13165 non-null  object
 23  Brand           13165 non-null  object
 24  Color           13165 non-null  object
 25  Unit_Cost_USD   13165 non-null  float64
 26  Unit_Price_USD  13165 non-null  float64
 27  SubcategoryKey  13165 non-null  int64
 28  Subcategory     13165 non-null  object
 29  CategoryKey     13165 non-null  int64
 30  Category        13165 non-null  object
dtypes: datetime64[ns](4), float64(2), int64(9), object(16)
memory usage: 3.1+ MB

In [21]:
# Fill missing State_Code for Napoli with the known correct state code 'NA'
online.loc[online['State_y'] == 'Napoli', 'State_Code'] = online.loc[online['State_y'] == 'Napoli', 'State_Code'].fillna('NA')

# Verify that all missing values for State_Code in Napoli have been replaced
print(online[online['State_y'] == 'Napoli'])

       Order_Number  Line_Item Order_Date Delivery_Date  CustomerKey  \
3521        1611026          2 2019-05-30    2019-04-06       765589
12925       1611026          1 2019-05-30    2019-04-06       765589

       StoreKey  ProductKey  Quantity Currency_Code Country_x  ... Age  \
3521          0        1653         2           EUR    Online  ...  77
12925         0         495         4           EUR    Online  ...  77

                                         Product_Name            Brand  \
3521   Contoso DVD 7-Inch Player Portable E200 Silver          Contoso
12925                Adventure Works LCD19 E108 Black  Adventure Works

        Color Unit_Cost_USD Unit_Price_USD SubcategoryKey Subcategory  \
3521   Silver         56.08         109.99            602   Movie DVD
12925   Black         70.87         139.00            304    Monitors

      CategoryKey                       Category
3521            6  Music, Movies and Audio Books
12925           3                      Computers

[2 rows x 34 columns]

In [50]:
# Drop columns by index 31 and 32
# Drop all duplicate 'first_name' and 'last_name' columns, keeping the first
online = online.loc[:, ~online.columns.duplicated(keep='first')]

In [57]:
online.drop(["Last_name.1"],axis=1,inplace=True)

In [38]:
online.drop(["Name"],axis=1,inplace=True)

<ipython-input-38-943793964b6a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  online.drop(["Name"],axis=1,inplace=True)

In [41]:
online.rename(columns={'State_y':'State','Country_y':'Country'},inplace=True)
online.rename(columns={'Order Date': 'Order_Date','Delivery Date':'Delivery_Date','Square Meters':'Square_Meters','Open Date':'Open_Date','Product Name':'Product_Name','Unit Cost USD':'Unit_Cost_USD','Unit Price USD':'Unit_Price_USD'}, inplace=True)

<ipython-input-41-bbdacf04db46>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  online.rename(columns={'State_y':'State','Country_y':'Country'},inplace=True)

In [27]:
online[['First_name', 'Last_name']] = online['Name'].str.split(' ', n=1, expand=True) # Changed the second positional argument to a keyword argument n=1

In [36]:
# Create a list of the current column names
cols = online.columns.tolist()

# Find the index of the 'Name' column
name_index = cols.index('Name')

# Insert 'First_name' and 'Last_name' after 'Name'  # Changed 'first_name' and 'last_name' to  'First_name' and 'Last_name'
new_cols = cols[:name_index + 1] + ['First_name', 'Last_name'] + cols[name_index + 1:]

# Reorder the DataFrame columns
online = online[new_cols]